:root {
    --bg: #000000;
    --bg-alt: #111111;
    --text: #F8F8FF;
    --text-alt: #BEBFC5;
    --el-border: #211C1C;
    --inp-border: #2B50AA;
    --btn-p: #2B50AA;
    --btn-p-hov: #294BA3;
    --btn-s: hsl(231.43, 5.69%, 75.88%, 1);
    --btn-s-hov: hsl(231.43, 5.69%, 75.88%, .8);
    --inp: #000000;
    --inp-hov: #343434;
    --err: #FF0800;
    --suc: #00563B;
    --rad-sml: .2rem;
    --rad-med: .4rem;
    --rad-lrg: .8rem;
    --rad-xl: 1rem;
    --pad-sml: .2rem;
    --pad-med: .4rem;
    --pad-lrg: .8rem;
    --pad-xl: 1rem;
    --gap-sml: .2rem;
    --gap-med: .4rem;
    --gap-lrg: .8rem;
    --gap-xl: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: var(--text);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

header, footer {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    background: var(--bg-alt);

}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}

footer p {
    font-weight: 400;
    opacity: .8;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.greeting {
    padding: var(--pad-med);
    margin-bottom: .8rem;
}

.greeting h2 {
    text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 800px;
    background: var(--bg-alt);
    border-radius: var(--rad-lrg);
    border: 1px solid var(--el-border);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
    100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    gap: .8rem;
    /* height: 100%; */
    max-height: 600px;
    justify-content: space-between;
    padding: var(--pad-xl);
}

form label {
    color: var(--text-alt);
    font-weight: 600;
    width: max-content;
    margin-bottom: .4rem;
}

form .field-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
}

form .pw-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form input, form select {
    max-width: 400px;
    width: 100%;
    padding: var(--pad-med);
    border: 2px solid transparent;
    outline: 2px solid transparent;
    background: var(--bg);
    color: var(--text);
    border-radius: var(--rad-sml);
    transition: outline .2s ease-in;
}

form input::placeholder {
    color: var(--text-alt);
}

form input:focus, form select:focus {
    border: 2px solid var(--inp-border);
}

form input:user-invalid, form select:user-invalid, .is-invalid {
    outline: 2px solid var(--err);
}

form input:user-valid, form select:user-valid, .is-valid {
    outline: 2px solid var(--suc);
}

form input:focus.is-valid,
form select:focus.is-valid {
    border-color: var(--suc);
}



form input:hover, form select:hover {
    background: var(--inp-hov);
}

.password-container {
    position: relative;
}

.password-requirements {
    opacity: 0;
    top: 0;
    left: 5rem;
    position: absolute;
    background: var(--bg);
    border-radius: var(--rad-med);
    padding: var(--pad-med);
    list-style-type: none;
    border: 1px solid var(--el-border);
    font-size: 12px;
    transition: opacity .2s ease-in, display .2s ease-in;
    pointer-events: none;
    display: inline-block;
    width: 100%;
    max-width: max-content;
}

.password-requirements.active {
    opacity: 1;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
    100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.pw-label {
    border-bottom: 2px dashed var(--inp-border);
}

.pw-label:hover {
    border-bottom: 2px dashed RGBA(43, 80, 170, .6);
}

.pw-req-label {
    color: var(--text-alt);
}

.pw {
    justify-content: center;
    align-items: center;
}

.pw svg {
    pointer-events: none;
    fill: black;
}

.msg {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 10px;
    min-height: 30px;
    width: 100%;
    padding: var(--pad-sml);
    border-radius: var(--rad-sml);
    color: var(--text-alt);
    opacity: 0;
    transition: opacity .2s ease-in;
}

.msg.invalid {
    color: var(--err);
    opacity: 1;
}

button {
    border-radius: var(--rad-sml);
    display: inline-flex;
    padding: var(--pad-sml);
    cursor: pointer;
}

button.primary {
    background: var(--btn-p);
    color: var(--text);
    border: 1px solid transparent;
}

button.primary:hover {
    background: var(--btn-p-hov);
}

button.secondary {
    background: var(--btn-s);
    color: var(--text);
    border: 1px solid transparent;
}

button.secondary:hover {
    background: var(--btn-s-hov);
}

button.create {
    margin: 1rem auto;
    width: 100%;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: var(--rad-lrg);
}